<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Baichador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Baichador.Properties.Settings>
            <setting name="MAX_THREADS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MAX_RETRIES" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CMD_NORMAL" serializeAs="String">
                <value>--no-playlist -o "{0}{1}.%(ext)s" -qx --audio-format mp3 "{2}"</value>
            </setting>
            <setting name="CMD_GET_PLAYLIST_VIDEOS" serializeAs="String">
                <value>--yes-playlist --flat-playlist --dump-single-json "{0}"</value>
            </setting>
            <setting name="CMD_GET_TITLE" serializeAs="String">
                <value>--no-playlist --skip-download --get-title --no-warnings "{0}"</value>
            </setting>
            <setting name="BASE_URL" serializeAs="String">
                <value>https://www.youtube.com/watch?v=</value>
            </setting>
            <setting name="DEFAULT_SAVEDIR" serializeAs="String">
                <value>%userprofile%\Music</value>
            </setting>
            <setting name="LIST_FORM_WIDTH" serializeAs="String">
                <value>730</value>
            </setting>
            <setting name="LIST_FORM_MAX_HEIGHT" serializeAs="String">
                <value>805</value>
            </setting>
        </Baichador.Properties.Settings>
    </userSettings>
</configuration>