MAX_THREADS 5
MAX_FIND_TITLE_THREADS 3
MAX_RETRIES 2
LIST_FORM_WIDTH 730
LIST_FORM_MAX_HEIGHT 805
CMD_NORMAL --no-playlist -o "{0}{1}.%(ext)s" -qx --audio-format mp3 "{2}"
CMD_GET_PLAYLIST_VIDEOS --flat-playlist -j "{0}"
CMD_GET_TITLE --no-playlist --skip-download --get-title --no-warnings "{0}"
BASE_URL https://youtu.be/
DEFAULT_SAVEDIR %userprofile%\Music